/* *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-image: url('/assets/Best-Foods-to-Eat-When-Pregnant-722x406.jpg');
    background-repeat: no-repeat;
   
    background-position: center 60px;
    margin:0;
    padding: 0;

    /* padding-top: 200px; */

    /* border-bottom: 3px solid rgb(215, 164, 69); 
    
} */
/* html{
    margin: 0;
    padding: 0;
} */
